html, body, .capa {
	height: 100%;
}

body{
	/*background: url('imagens/teste1.png'),
				url('imagens/ruido.png');*/
				background: black;
	background-attachment: fixed; 
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.resumo{
	background: white;
}

.figuras{
	padding: 10px 0px 10px 0px;
}




/*tipografia*/
h1 {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0.04em;
}